<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wipet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CreateCv2" />
        <activity android:name=".activity.CreateCV1" />
        <activity android:name=".activity.CvAdoptionActivity" />
        <activity android:name=".activity.ListRequestedAdoptionActivity" />
        <activity android:name=".activity.RequestAdoptionActivity" />
        <activity android:name=".activity.CreateAdoptionActivity" />
        <activity android:name=".activity.DetailAdoptionActivity" />
        <activity android:name=".activity.ListAdoptionActivity" />
        <activity android:name=".activity.CreateDiscussionActivity" />
        <activity android:name=".activity.DetailDiscussionActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>